.navbar {
  width: 100%;
  padding: 20px 100px;
  background-color: #7e7e7e;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
  align-items: center;
  font-size: 20px;
  list-style-type: none;
  gap: 10px;
}

.navbar__list-item {
  border-right: 1px solid white;
  padding-right: 10px;
}

.navbar__list-item:last-child {
  border-right: none;
  padding-right: 0;
}

.navbar__list-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.navbar__logout-btn {
  margin: 0;
  padding: 10px 20px;
  background-color: #ff4500;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.navbar__logout-btn:hover {
  filter: brightness(0.9); /* Darker shade on hover */
}
